@font-face {
    font-family: poppins;
    src: url(poppins/Poppins-Regular.ttf)
}

body {
    font-family: poppins;
    overflow-x: hidden;
}

.book {
    display: flex;
    gap: 10%;
    margin-left: 13%;
    margin-top: 5%;

    img {
        height: 20vh;
        width: 15%;

    }
}

#book-cover {
    height: 20vh;
    width: 12%;
}


.introduction {
    display: inline;
}

.title {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/shelf\ 2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    display: flex;
    gap: 25%;
    height: 15vh;

    p {
        font-size: 20px;
        color: white;
        font-weight: lighter;

    }

    img {
        height: 20vh;
        width: 20%;
        margin-right: 20%;


    }
}

.title h1 {
    display: 40vw;
    color: white;
    margin-left: 31vw;
    font-size: 4em;
    margin-top: 5vh;
}

.details {
    display: inline;
    font-size: 25px;
    color: black;


    p {
        width: 60%;
        margin-top: 2%;
        text-align: center;
        margin-left: 20%;
    }

}

.reflection {
    display: flex;
}

.reflection-contents {
    display: inline;
    font-size: 25px;
    line-height: 1.7;
    width: 40%;
    margin-left: 10%;
    margin-top: 3%;

    h1 {
        font-size: 60px;
    }

}

#quote {
    font-size: 25px;
    color: rgb(46, 46, 153);
    text-align: center;
    margin-bottom: 5%;
}

.image img {
    width: 90%;
    height: 50vh;
    margin-left: 20%;
    margin-top: 55%;
}

a {
    text-decoration: none;
}

.button a {
    color: black;
    font-size: 1.5em;
    text-decoration: none;
    border: none;
    background-color: rgba(97, 97, 97, 0.288);
    padding: 1% 2%;
    border-radius: 20px;
    box-shadow: 15px 18px 10px -8px rgb(156, 145, 145);
}

.button {
    display: flex;
    margin-top: 5vh;
    margin-left: 7vw;
    gap: 70vw;
}

.footer {
    background-color: black;
    height: 20vh;
    width: 100%;
    position: absolute;
    display: inline;
    align-items: center;
    padding-left: 40%;
    margin-top: 5%;
    padding-top: 1%;

    h1 {
        color: white;
    }

    p {

        color: white;
        font-size: 20px;


    }

}




@media only screen and (max-width:750px) {
    .body {
        overflow-x: hidden;
    }

    .title {
        background-size: 100vw;
        overflow: hidden;
        margin-top: -5%;
        width: 102%;
        display: flex;
        gap: 25%;
        height: 15vh;

        h1 {
            color: white;
            font-size: 28px;
            margin-top: 10%;
            margin-left: 6%;
        }
    }

    .button {
        gap: 40vw;

        a {
            font-size: 20px;
        }
    }

    .details {
        display: inline;
        font-size: 16px;
        color: black;



        p {
            width: 90%;
            margin-top: 13%;
            margin-left: 4%
        }

    }

    .book {
        flex-direction: column;
        gap: 10%;
        margin-left: 0%;
        align-items: center;
        margin-top: 10%;
        width: 100%;

        img {
            height: 20vh;
            width: 50%;
            margin-bottom: 10%;


        }
    }

    #book-cover {
        height: 20vh;
        width: 44%;

    }

    .reflection-contents {
        display: inline;
        font-size: 16px;
        line-height: 1.7;
        width: 80%;
        margin-left: 10%;
        text-align: center;
        margin-top: 3%;

        h1 {
            font-size: 26px;
            text-align: center;
            margin-bottom: 13%;
        }

    }

    #quote {
        font-size: 16px;
        color: rgb(46, 46, 153);
        margin-bottom: 10%;
    }


    .reflection {
        flex-direction: column;
    }

    .image img {
        width: 90%;
        height: 35vh;
        margin-top: 10%;
        margin-left: 5%;
        margin-bottom: 50%;
    }

    .footer {
        background-color: black;
        height: 20vh;
        width: 85%;
        position: absolute;
        display: inline;
        align-items: center;
        padding-left: 10%;
        margin-top: -38%;
        padding-top: 1%;

        h1 {
            color: white;
            font-size: 16px;
        }

        p {

            color: white;
            font-size: 16px;


        }
    }
}


@media only screen and (min-width:751px) and (max-width:999px) {

    .body {
        overflow-x: hidden;
    }

    .title {
        background-size: 100vw;
        overflow: hidden;
        margin-top: -5%;
        width: 100%;
        display: flex;
        gap: 25%;
        height: 15vh;

        h1 {
            color: white;
            font-size: 50px;
            margin-top: 7%;
            margin-left: 4%;
        }
    }

    .button {
        gap: 58vw;
        margin-right: 40%;


        a {
            font-size: 22px;
        }

    }

    .details {
        display: inline;
        font-size: 22px;
        color: black;

        p {
            width: 90%;
            margin-top: 8%;
            margin-left: 4%
        }

    }

    .book {
        display: flex;
        gap: 5%;
        margin-left: 2%;
        margin-top: 10%;

        img {
            height: 20vh;
            width: 20%;

        }
    }

    #book-cover {
        height: 20vh;
        width: 22%;
    }


    .reflection {
        flex-direction: column;
    }

    .reflection-contents {
        display: inline;
        font-size: 22px;
        line-height: 1.7;
        width: 80%;
        margin-left: 10%;
        text-align: center;
        margin-top: 3%;

        h1 {
            font-size: 50px;
            margin-bottom: 10%;
        }

    }

    #quote {
        font-size: 2px;
        color: rgb(46, 46, 153);
        margin-bottom: 10%;
    }


    .reflection {
        flex-direction: column;
    }

    .image img {
        width: 70%;
        height: 35vh;
        margin-top: 10%;
        margin-left: 15%;
    }

    .footer {
        background-color: black;
        height: 14vh;
        width: 68%;
        position: absolute;
        display: inline;
        align-items: center;
        padding-left: 30%;
        margin-top: 8%;
        padding-bottom: 7%;


        h1 {
            color: white;
            font-size: 22px;
        }

        p {

            color: white;
            font-size: 22px;


        }
    }
}



@media only screen and (min-width:1000px) and (max-width:1300px) {
    .body {
        overflow-x: hidden;
    }

    .title {
        background-size: 100vw;
        overflow: hidden;
        margin-top: -5%;
        width: 100%;
        display: flex;
        gap: 25%;
        height: 20vh;

        h1 {
            color: white;
            font-size: 90px;
            margin-top: 12%;
            margin-left: 8%;
        }
    }

    .button {
        gap: 58vw;
        margin-right: 40%;


        a {
            font-size: 40px;
        }

    }


    .details {
        display: inline;
        font-size: 40px;
        color: black;

        p {
            width: 90%;
            margin-top: 8%;
            margin-left: 5%
        }

    }

    .book {
        display: flex;
        gap: 4%;
        margin-left: 2%;
        margin-top: 10%;

        img {
            height: 20vh;
            width: 22%;

        }
    }

    #book-cover {
        height: 20vh;
        width: 25%;
    }


    .reflection {
        flex-direction: column;
    }

    .reflection-contents {
        display: inline;
        font-size: 40px;
        line-height: 1.7;
        width: 80%;
        margin-left: 10%;
        text-align: center;
        margin-top: 3%;

        h1 {
            font-size: 90px;

        }

    }

    #quote {
        font-size: 45px;
        color: rgb(46, 46, 153);
        margin-bottom: 10%;
    }


    .reflection {
        flex-direction: column;
    }

    .image img {
        width: 75%;
        height: 40vh;
        margin-top: 10%;
        margin-left: 14%;
    }


    .footer {
        background-color: black;
        height: 14vh;
        width: 68%;
        position: absolute;
        display: inline;
        align-items: center;
        padding-left: 30%;
        padding-bottom: 10%;


        h1 {
            color: white;
            font-size: 40px;
        }

        p {

            color: white;
            font-size: 40px;


        }
    }
}