@font-face{
    font-family: poppins;
    src:url(poppins/Poppins-Regular.ttf)
}

body{
    font-family: poppins;
}
.borders{
    display:flex
}

.border-one{
border-bottom: 5px;
border-color: blue;

}

.border-two{
    border-bottom: 5px;
}

.border-three{
    border-bottom: 5px solid blue;
    height: 100px;
}
.book img{
    height:20vh;
        width:15%;
   /* margin-left:50%; 
   margin-top: 15%; */
   /* transform:rotate(5deg);   */
}

.introduction{
    display: inline;
}

.title{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/shelf\ 2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    margin-top: -1%;
     width:100%;
     display: flex;
     gap:25%;

     h1{
    color:white;
        text-align: center;
        font-size: 60px;
        margin-left: 30%;
     }
}

.details{
    display:inline;
        font-size: 20px;
        color:black;
        font-weight: lighter;
        margin-top: 4%;
    margin-left: 15%;
    width: 40%;
    text-align: center;
   
}

.reflection{
    display: flex;
}

.reflection-contents{
    display: inline;
    font-size: 18px;
    line-height: 1.7;
    width: 40%;
    margin-left: 10%;
    margin-top: 3%;
    h1{
        font-size: 60px;
    }

}

#quote{
    font-size: 25px;
}

#left-icon {
    color: black;
    font-size: 20px;
    right: 90%;
    top: 50vh;
    position: absolute;
  }

  #right-icon{
    color: black;
    font-size: 20px;
    left: 35%;
   top:52vh;
    position: absolute;
  }

.image img{
    width: 90%;
    height: 50vh;
    margin-left: 20%;
    margin-top: 25%;
}
