.background{
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.5),rgba(255,255,255,0.5)),
    url("imagesfolder/sean-foster-89cPVb1eh0U-unsplash.jpg");
    background-size:cover ;
    width:100vw;
    height:70vh;
    background-blend-mode: overlay;
}

.header{
    h1{
        color:chocolate;
        text-align: center;
        padding-top: 300px;
        font-size:400% ;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

}
.topheader{
    display: flex;  
    padding-left: 500px;
    gap: 3cm;
}
.topheader a{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    font-size: 150%;
    }
    .materials{
        h1{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 300%;
            padding-left: 150px;
        }
    }
    .materials img{
        width: 700px;
        height: 500px;
       float: right;
    }
    .process{

    }
    ol{
        padding-left: 100px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 180%;
    }





