@font-face {
    font-family: poppins;
    src: url(fonts/Poppins-Regular.ttf);
}
body{
overflow: hidden;
margin-left: -0;
margin-top: -0;
font-family: poppins;
}
.header{
    transition: 1s ease-out;
}
.header :hover{
   
        transform: scale(1.5);
        cursor: pointer;
}
h1{
    position: relative;
   text-align: center;
    z-index: 1;
    font-size: 400%;
    top: 1vh;
    color: pink;
   
}
.reading img{
    position: relative;
    overflow: hidden;
width: 100vw;
height: 88vh;
z-index: -1;
margin-top: -3vh;

}
.buttons{
    z-index: 1;
    color: white;
    margin-top: -20vh;
    font-size: 300%;
    margin-left: 10vw;
    display: flex;
    gap:60vw;
}
a{
    color:rgb(161, 199, 101);
    text-decoration: none;
    border: none;
    background-color: rgba(187, 131, 140, 0.336);
    padding: 1.5%;
    border-radius: 20px;
  
}
.container{
    display: flex;
}
.poster img{
    width: 75vw;
    height: 25vh;
    margin-top: 2vh;
    margin-left: 2vw;
}