.quote-right{
    rotate: 180deg;
}
.backgroundImage{
    width: 60vh;
    height: 30vh;
}
body{
   /* background-image: url(https://i.pinimg.com/736x/0d/90/27/0d902726b29dcd9dd8e3dc6d68932508.jpg); */
    background-size: 250vh 100vh;
    background-repeat: repeat-y;
    background-color: #ddd;
}
#text{
   font-size: 25px;
   margin-left: -80px;
}
a{
   text-decoration: none;
   color: black;
}
 #blogger{
    width: 25%;
 }
 #blogger:hover{
   border-radius: 20px;
 }
 .blogContainer{
    margin-left: 100px;
 }
 .blogImage{
    display: flex;
    gap: 10%;
 }
 #bloggerName{
    margin-top: 160px;
    font-size: 30px;
    font-weight: bolder;
 }
 .leftsideBlog{
    display: grid;
    gap: 50px;
    margin-top: 100px;
    margin-left: 900px;
 }
 .rightsideBlog{
    width: 40%;
    position: fixed;
    top: 30%;
 }
 h1{
    font-size: 50px;
 }
 .quote-right{
    margin-left: 85%;
 }
 .quote-left{
    margin-left: -10%;
 }
@media screen and (max-width: 750px){
   .blogImage{
      display: grid;
   }
 .leftsideBlog{
   margin-top: 50px;
   margin-left: -10%
   
 }
 #blogger{
   width: 70%;
 }
 .rightsideBlog{
   position: relative;
   left: 0%;
   width: 100%;
 }
 h1{
   font-size: 23px;
margin-left: -35%;
margin-top: 20%;
 }
 #text{
   font-size: 18px;
 }
 #bloggerName{
   margin-top: 0%;
   font-size: 20px;
 }
 .quote-left{
   height: 10%;
   width: 10%;
   margin-left: -35%;
 }
 .quote-right{
   height: 10%;
   width: 10%;
 }
}
@media screen and (max-width: 900px) and (min-width: 751px){
   .blogImage{
      display: grid;
   }
 .leftsideBlog{
   margin-top: 50px;
   margin-left: 20%
   
 }
 #blogger{
   width: 50%;
 }
 .rightsideBlog{
   position: relative;
   left: 0%;
   width: 100%;
 }
 h1{
   font-size: 37px;
margin-left: -10%;
margin-top: 20%;
 }
 #text{
   font-size: 25px;
 }
 #bloggerName{
   margin-top: 0%;
   font-size: 27px;
 }
 .quote-left{
   height: 10%;
   width: 10%;
   margin-left: -13%;
 }
 .quote-right{
   height: 10%;
   width: 10%;
 }
}
@media screen and (max-width: 1285px) and (min-width: 901px){
   .blogImage{
      display: grid;
   }
 .leftsideBlog{
   margin-top: 50px;
   margin-left: 20%
   
 }
 #blogger{
   width: 50%;
 }
 .rightsideBlog{
   position: relative;
   left: 0%;
   width: 100%;
 }
 h1{
   font-size: 50px;
margin-left: 5%;
margin-top: 20%;
 }
 #text{
   font-size: 35px;
 }
 #bloggerName{
   margin-top: 0%;
   font-size: 35px;
 }
 .quote-left{
   height: 10%;
   width: 10%;
   margin-left: -10%;
 }
 .quote-right{
   height: 10%;
   width: 10%;
 }
}