body{
    margin-top: -0%;
    margin-left: -0%;
    overflow-x: hidden;
    margin-bottom: -0%;
}
img{
    position: relative;
    width: 100vw;
    height: 270vh;
    margin-top: -45vh;
    z-index: -1;
}
.sidenav {
    height: 25vh;
    width: 10vw;
    left: 0;
    top: 25vh;
    margin-top: -3vh;
    background: rgb(211, 198, 180);
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    z-index: 1;
}

.sidenav a {
    position: relative;
    display: flex;
    align-items: center;
    line-height: 5vh;
    padding: 16px 24px;
    color: black;
    text-decoration: none;
    font-size: 1.1em;

    border-left: 2.5vw solid transparent;
}

.sidenav a:hover,
.sidenav a.active {
    background: #EEBBC3;

}
@media only screen and (max-width:750px) {
    .sidenav {
        height: 25vh;
        width: 30vw;
        margin-top: 9vh;
    
    }
    img{
        margin-top: -45vh;
        height: 150vh;
    }
}
@media only screen and (min-width:751px) and (max-width:999px) {
    .sidenav {
        height: 25vh;
        width: 30vw;
        margin-top: 9vh;
    
    }
}