.leftContainer{
    background-color: rgb(105, 142, 184);
    position: relative;
    width: 200vh;
    height: 100vh;
}
.rightContainer{
    background-color: rgb(171, 175, 177);
    position: relative;
    width: 100vh;
    height: 100vh;
}
.reviewContainer{
    display: flex;
    position: relative;
}
marquee{
    margin-top: 20%;
    color: white;
    font-size: 30px;
}
h1{
    color: rgb(105, 142, 184);
    margin-left: 100px;
}
.bookImage{
    position: absolute;
    top: 20%;
    left: 5%;
}
#image{
    width: 80%;
}
body{
    margin: 0;
}
.reviews{
    position: absolute;
    top: 5%;
    left: 45%;
    background-color: white;
    box-shadow: 4px 10px 20px;
    width: 100vh;
    height: 90vh;
    overflow: scroll;
    padding: 20px;
    font-size: 25px;
}
.reviews::-webkit-scrollbar {
    display: none;
  }
.bookRename{
    position: absolute;
    top: 65%;
    left: 5%;
    background-color: white;
    box-shadow: 4px 4px 4px 4px rgb(105, 142, 184);
    width: 80vh;
}
@media screen and (max-width: 750px){
    .leftContainer{
        width: 40vh;
        height: 50vh;
    }
    .rightContainer{
        height: 50vh;
        width: 55vh;
    }
    body{
        margin: 0%;
    }
    .reviews{
        top: 100%;
        width: 80%;
        left: 0%;
        box-shadow: none;
    }
    p{
        font-size: 16px;
    }
    #image{
        width: 50%;
    }
    h2{
        font-size: 17px;
    }
    h1{
        font-size: 20px;
        margin-left: 0%;
    }
    marquee{
        margin-top: 3%;
    }
    .bookImage{
        top: 10%;
        left: 25%;
        position: fixed;
    }
}
@media screen and (max-width: 900px) and (min-width: 751px){
    .leftContainer{
        width: 40vh;
        height: 50vh;
    }
    .rightContainer{
        height: 50vh;
        width: 55vh;
    }
    body{
        margin: 0%;
    }
    .reviews{
        top: 100%;
        width: 80%;
        left: 0%;
        box-shadow: none;
    }
    p{
        font-size: 16px;
    }
    #image{
        width: 50%;
    }
    h2{
        font-size: 17px;
    }
    h1{
        font-size: 20px;
        margin-left: 0%;
    }
    marquee{
        margin-top: 3%;
    }
    .bookImage{
        top: 10%;
        left: 25%;
        position: fixed;
    }

}
@media screen and (max-width: 1041px) and (min-width: 901px){
    .leftContainer{
        width: 60vh;
        height: 50vh;
    }
    .rightContainer{
        height: 50vh;
        width: 75vh;
    }
    body{
        margin: 0%;
    }
    .reviews{
        top: 100%;
        width: 80%;
        left: 0%;
        box-shadow: none;
    }
    p{
        font-size: 16px;
    }
    #image{
        width: 30%;
    }
    h2{
        font-size: 17px;
    }
    h1{
        font-size: 20px;
        margin-left: 0%;
    }
    marquee{
        margin-top: 3%;
    }
    .bookImage{
        top: 10%;
        left: 35%;
        position: fixed;
    }
}
@media screen and (max-width: 1325px) and (min-width: 1042px){
    .leftContainer{
        width: 70vh;
        height: 50vh;
    }
    .rightContainer{
        height: 50vh;
        width: 90vh;
    }
    body{
        margin: 0%;
    }
    .reviews{
        top: 100%;
        width: 80%;
        left: 0%;
        box-shadow: none;
    }
    p{
        font-size: 16px;
    }
    #image{
        width: 30%;
    }
    h2{
        font-size: 17px;
    }
    h1{
        font-size: 20px;
        margin-left: 0%;
    }
    marquee{
        margin-top: 3%;
    }
    .bookImage{
        top: 10%;
        left: 35%;
        position: fixed;
    }
}