.leftContainer{
    background-color: rgb(105, 142, 184);
    position: relative;
    width: 200vh;
    height: 100vh;
}
.rightContainer{
    background-color: rgb(171, 175, 177);
    position: relative;
    width: 100vh;
    height: 100vh;
}
.reviewContainer{
    display: flex;
    position: relative;
}
.bookImage{
    position: absolute;
    top: 15%;
    left: 50%;
}
#image{
    width: 90%;
}
.reviews{
    position: absolute;
    top: 15%;
    left: 10%;
    background-color: white;
    box-shadow: 4px 4px 4px 4px rgb(105, 142, 184);
}
.bookRename{
    position: absolute;
    top: 35%;
    left: 10%;
    background-color: white;
    box-shadow: 4px 4px 4px 4px rgb(105, 142, 184);
}